<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.nhom1.englishspeaking">
<uses-permission android:name="android.permission.INTERNET" />
<application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher"
    android:supportsRtl="true"
    android:theme="@style/TestTheme">
    <activity android:name="com.nhom1.englishspeaking.MainActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity android:name="com.nhom1.englishspeaking.Compare" />
    <activity android:name="com.nhom1.englishspeaking.Vocabularies" />
    <activity android:name="com.nhom1.englishspeaking.TestCompare" />
    <activity android:name="com.nhom1.englishspeaking.HistoryActivity" />
    <activity android:name="com.nhom1.englishspeaking.AboutActivity"></activity>
</application>

</manifest>